@import "./_css-reset.css";
@import "./_mixins.css";
@import "./_fonts.css";

:root {
  --color-off-white: hsl(36, 100%, 99%);
  --color-grayish-blue: hsl(233, 8%, 79%);
  --color-dark-grayish-blue: hsl(236, 13%, 42%);
  --color-very-dark-blue: hsl(240, 100%, 5%);
  --color-soft-orange: hsl(35, 77%, 62%);
  --color-soft-red: hsl(5, 85%, 63%);
  --default-font-family: Inter, sans-serif;
  --default-font-size: 16px;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--default-font-family);
  font-variation-settings: "wght" var(--fw-regular);
  font-size: var(--default-font-size);
  color: var(--color-very-dark-blue);
  background-color: var(--color-off-white);
}
img {
  max-inline-size: 100%;
  object-fit: cover;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 1rem;
  margin-top: 1.75rem;
}

main {
  width: 100%;
  padding: 0 1rem;
  padding-bottom: 5rem; /* 80px */
  display: grid;
  grid-template-areas:
    "hero"
    "complementary"
    "popular";
  gap: 4rem;

  & #hero-section {
    grid-area: hero;

    & h1 {
      font-size: 2.5rem; /* 40px */
      line-height: 1;
      font-variation-settings: "wght" var(--fw-extra-bold);
      margin-top: 1.5rem; /* 24px */
    }
    & p {
      font-size: 0.9375rem; /* 15px */
      line-height: 1.8;
      color: var(--color-dark-grayish-blue);
      margin-top: 1rem;
    }

    & #read-more-link {
      font-size: 0.875rem; /* 14px */
      font-variation-settings: "wght" var(--fw-bold);
      line-height: 1.7;
      letter-spacing: 4.38px;
      text-transform: uppercase;
      color: var(--color-very-dark-blue);
      background-color: var(--color-soft-red);
      width: 185px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1.5rem; /* 24px */

      &:hover {
        background-color: var(--color-very-dark-blue);
        color: var(--color-off-white);
      }
    }
  }
  & #complementary-section {
    grid-area: complementary;
    background-color: var(--color-very-dark-blue);
    padding: 1.5rem 1.25rem;

    & h2 {
      font-size: 2rem;
      font-variation-settings: "wght" var(--fw-extra-bold);
      color: var(--color-soft-orange);
      margin-bottom: 2.1875rem; /* 35px */
    }

    & h3 {
      margin-bottom: 0.5rem;
      & a {
        font-size: 1.25rem; /* 20px */
        font-variation-settings: "wght" var(--fw-extra-bold);
        line-height: 1.2;
        color: var(--color-off-white);
        &:hover {
          color: var(--color-soft-orange);
        }
      }
    }

    & p {
      font-size: 0.9375rem; /* 15px */
      line-height: 1.7;
      color: var(--color-grayish-blue);
    }

    & hr {
      margin: 1.875rem 0; /* 30px */
      padding: 0;
      border: 0.5px solid var(--color-dark-grayish-blue);
    }
  }
  & #popular-section {
    grid-area: popular;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    & article {
      display: grid;
      grid-template-columns: 100px 1fr;
      grid-template-areas:
        "image item-count"
        "image item-title"
        "image item-content";
      column-gap: 1.5rem;

      & figure {
        grid-area: image;
        width: 100px;
        height: 129px;
      }

      & span {
        grid-area: item-count;
        font-size: 2rem;
        font-variation-settings: "wght" var(--fw-bold);
        line-height: 1;
        color: var(--color-soft-red);
      }

      & h2 {
        grid-area: item-title;
        & a {
          font-size: 1.125rem; /* 18px */
          font-variation-settings: "wght" var(--fw-extra-bold);
          line-height: 1.3;
          color: var(--color-very-dark-blue);
          &:hover {
            color: var(--color-soft-red);
          }
        }
        margin-top: 0.75rem; /* 12px */
        margin-bottom: 0.5625rem; /* 9px */
      }

      & p {
        grid-area: item-content;
        font-size: 0.9375rem; /* 15px */
        line-height: 1.7;
        color: var(--color-dark-grayish-blue);
      }
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
